<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <!-- <li><a routerLink='/loanplans' class="nav-link">Loan Plans</a></li> -->
            <li><a routerLink='/addloanplan' class="nav-link">Add Loan plan</a></li>
            <li><a routerLink='/editloanplan' class="nav-link">Edit Loan plan</a></li>
            
            <li><a routerLink="/create-emiplan" routerLinkActive="active" class="nav-link">Add EMI plan</a></li>
            <li><a routerLink="/customers" routerLinkActive="active" class="nav-link">Customer-List</a>
            <li><a routerLink="/requests" routerLinkActive="active" class="nav-link">Extension Request List</a></li>

        </ul>
    </nav>
</header>