<app-admin-menu></app-admin-menu>
<div class="container">
    <h1>Add a Loan Plan</h1>
    <br>
    <br>

    <div class="container1" id="box">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="planid">Enter Loan Plan Id</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.planId" name="loanplanid" required="required" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="planName">Enter Plan Name:</label>
                <input type="text" class="form-control" [(ngModel)]="addLoanPlan.planName" id="planName" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="loantypeid">Loan Type Id:</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.loanTypeId" id="loantypeid" [ngModelOptions]="{standalone: true}">
            </div>

            <!-- <div class="form-group">
                <label for="loantype">Enter Loan Type:</label>
                <select name="loan-plan" class="btn btn-success">
                    <option value="personal">Personal</option>
                    <option value="home">Home</option>
                    <option value="vehicle">Vehicle</option>
                    <option value="medical">Medical</option>
                </select>
            </div> -->

            <div class="form-group">
                <label for="principalamount">Principal Amount:</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.principalAmount" id="principalamount" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="tenure">Tenure will be</label><br>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.tenure" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="interestrate">Enter Interest Rate</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.interestRate" id="interestrate" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="interestamount">Enter Interest Amount</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.interestAmount" id="interestamount" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="totalpayable">Enter TotalPayable:</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.totalPayable" id="totalpayable" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="emi">Enter Emi:</label>
                <input type="number" class="form-control" [(ngModel)]="addLoanPlan.emi" id="emi" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="planValidaity">Plan Validity:</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="addLoanPlan.planValidity" id="planValidaity" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label for="planAddedOn">Plan Added On:</label>
                <input type="date" class="form-control" [(ngModel)]="addLoanPlan.planAddedOn" id="planAddedOn" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success form-control">Add Loan Plan</button>
            </div>
        </form>

        <!-- <div *ngIf="showAcknowledgement">
            <h2>Acknowledgement</h2>
            <p>Loan Type: {{loanType}}</p>
            <p>Tenure: {{tenure}} years</p>
            <p>Interest Rate: {{interestRate}}%</p>
            <p>Interest Amount: {{calculateInterestAmount()}}</p>
            <p>Total Payable: {{calculateTotalPayable()}}</p>
            <p>EMI Amount: {{calculateEMIAmount()}}</p>
          </div> -->
    </div>
</div>