<app-admin-menu></app-admin-menu>
<div class="col-md-5 offset-md-3">
    <h3>Create EMI Plan </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Loan Plan Id </label>
            <input type="number" class="form-control" id="loanPlanId" [(ngModel)]="customer.loanplanid"
                name="loanPlanId">
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>