<!-- <app-menu></app-menu>

<div class="container">
    <router-outlet></router-outlet>
</div> -->
<div class="logo">

    <h1>WELCOME LOAN MANAGEMENT SYSTEM</h1>
</div>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="adminlogin" routerLinkActive="active" class="nav-link">Admin</a>
            </li>
            <li class="nav-item">
                <a routerLink="userlogin" routerLinkActive="active" class="nav-link">User</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer bg-dark">
    <div class="container">
        <span>All Rights Reserved 2023@Loan Management System</span>
    </div>

</footer>